.navbar {
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--borderColor);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo_container {
  .logo {
    width: 20px;
    height: 20px;
    fill: var(--secondaryColor);
  }
}

.menus {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu {
  list-style: none;
}
