:root {
  --primaryColor: #183153;
  --secondaryColor: #146ebe;
  --yellowColor: #ffd43b;
  --borderColor: #e5e5e5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
}

input {
  width: 100%;
  font-size: 20px;
  border: 0;
  color: var(--primaryColor);
}
input:focus {
  outline: none;
}

.container {
  margin: 0 auto;
  width: 80%;
  max-width: 1024px;
}

/* @media (max-width: 767px) {
  .container {
    width: 90%;
  }
} */
